<!DOCTYPE html>
<!-- 
Todo:
[*] Email Alerts
[*] GRAPHS?
-->
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/js/fontawesome/all.min.css" type="text/css" />
  <link rel="stylesheet" href="/js/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/bootstrap4-toggle.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/theme.css" type="text/css" />
  <script src="/js/jquery-3.4.1.min.js"></script>
</head>

<body>
<nav class="navbar navbar-dark bg-primary">
  <div class="navbar-nav">

    <a href="http://tn.gov/tbi.html" target="_blank"><img class="nav-item" src="./img/logo-full.png" /></a>


  </div>
  <div class="container d-flex ml-auto justify-content-center">
    <a class="navbar-brand lead mb-0" href="#">
      <i class="fal fa-circle"></i>
      <b> ImagePoint</b><sup><i class="far fa-xs fa-copyright"></i></sup> <b>- Smart PoE</b>
    </a>
  </div>
</nav>
<div class="py-3 text-center">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white bg-info mb-3" id="sysinfo">
          <div class="card-header">Cellular Sentry Status</div>
          <div class="card-body">
            <h5 class="card-title">PoE Info</h5>
            <dl class="row card-text">
              <dt class="col-sm-3">Hostname</dt>
              <dd class="col-sm-9 text-light" id="hostname"><!----></dd>
              <dt class="col-sm-3">Location</dt>
              <dd class="col-sm-9 text-light"><span id="location"><!----></span>&nbsp;&nbsp;&nbsp;<i class="fas fa-pencil edit"></i></dd>
              <dt class="col-sm-3">System Temp</dt>
              <dd class="col-sm-9 text-light" id="temp">&deg;F</dd>
              <dt class="col-sm-3 text-truncate">Total Watts:</dt>
              <dd class="col-sm-9 text-light" id="totWatts">W</dd>
              <dt class="col-sm-3">Time</dt>
              <dd class="col-sm-9 text-light" id="systime"><!--Time Script--></dd>
              <dt class="col-sm-3">Version</dt>
              <dd class="col-sm-9 text-light" id="version">1.0.0-ND</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-lg-3 col-6 p-4">

        <i id="p1" class="fas fa-ethernet fa-3x mb-2 text-muted"></i><br />
        <strong>Lan 2</strong>
        <div class="col-md-12" style="">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="p1on" class="btn btn-primary active"> <input type="radio" name="options" autocomplete="off" checked="" /> PoE On&nbsp; </label>
            <label id="p1off" class="btn btn-primary"> <input type="radio" name="options" autocomplete="off" /> PoE Off&nbsp; </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><span id="p1ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c1edit"><i class="fas fa-pencil"></i></a></li>
              <li id="p1v">Voltage:&nbsp;V</li>
              <li id="p1c">Current:&nbsp;mA</li>
            </ul>
          </div>
        </div>

        <img id="cam1" src="/img/img404.jpg" height="100" width="125">
      </div>
      <div class="col-lg-3 col-6 p-4">
        <i id="p2" class="fas fa-ethernet fa-3x mb-2 text-muted"></i><br />
        <strong>Lan 3</strong>
        <div class="col-md-12" style="">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="p2on" class="btn btn-primary active"> <input type="radio" name="options" autocomplete="off" checked="" /> PoE On&nbsp; </label>
            <label id="p2off" class="btn btn-primary"> <input type="radio" name="options" autocomplete="off" /> PoE Off&nbsp; </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><span id="p2ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c2edit"><i class="fas fa-pencil"></i></a></li>
              <li id="p2v">Voltage:&nbsp;V</li>
              <li id="p2c">Current:&nbsp;mA</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6 p-4">
        <i id="p3" class="fas fa-ethernet fa-3x mb-2 text-muted"></i><br />
        <strong>Lan 4</strong>
        <div class="col-md-12" style="">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="p3on" class="btn btn-primary active"> <input type="radio" name="options" autocomplete="off" checked="" /> PoE On&nbsp; </label>
            <label id="p3off" class="btn btn-primary"> <input type="radio" name="options" autocomplete="off" /> PoE Off&nbsp; </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><span id="p3ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c3edit"><i class="fas fa-pencil"></i></a></li>
              <li id="p3v">Voltage:&nbsp;V</li>
              <li id="p3c">Current:&nbsp;mA</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6 p-4">
        <i id="p4" class="fas fa-ethernet fa-3x mb-2 text-muted"></i><br />
        <strong>Lan 5</strong>
        <div class="col-md-12" style="">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="p4on" class="btn btn-primary active"> <input type="radio" name="options" autocomplete="off" checked="" /> PoE On&nbsp; </label>
            <label id="p4off" class="btn btn-primary"> <input type="radio" name="options" autocomplete="off" /> PoE Off&nbsp; </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <li><span id="p4ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c4edit"><i class="fas fa-pencil"></i></a></li>
              <li id="p4v">Voltage:&nbsp;V</li>
              <li id="p4c">Current:&nbsp;mA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Begin Refresh Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loader"></div>
        <div clas="loader-txt" style="font-size: 11.5px !important;color: #000 !important;">
          <p><small>Refreshing...</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Refresh Moal -->

<!-- Begin Cam 1 Settings Modal -->
<div class="modal modal-xl" id="cam1settings" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Camera #1 Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="checkbox" class="cstate" id="c1state" data-toggle="toggle" data-size="sm" data-on="Enabled" data-off="Disabled">
        <br>
        <div class="form-group">
          <label for="c1ip" class="text-primary">Camera IP:</label>
          <input type="text" class="form-control" placeholder="Enter IP" id="c1ip">
        </div>
        <div class="form-group">
          <label for="c1u" class="text-primary">Username:</label>
          <input type="text" class="form-control" placeholder="admin" id="c1u">
        </div>
        <div class="form-group">
          <label for="c1p" class="text-primary">Password:</label>
          <input type="password" class="form-control"  id="c1p">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="c1save" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Cam 1 Settings Modal -->

<!-- Begin Cam 2 Settings Modal -->
<div class="modal modal-xl" id="cam2settings" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Camera #2 Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="checkbox" class="cstate" id="c2state" data-toggle="toggle" data-size="sm" data-on="Enabled" data-off="Disabled">
        <br>
        <div class="form-group">
          <label for="c2ip" class="text-primary">Camera IP:</label>
          <input type="text" class="form-control" placeholder="Enter IP" id="c2ip">
        </div>
        <div class="form-group">
          <label for="c2u" class="text-primary">Username:</label>
          <input type="text" class="form-control" placeholder="admin" id="c2u">
        </div>
        <div class="form-group">
          <label for="c2p" class="text-primary">Password:</label>
          <input type="password" class="form-control"  id="c2p">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="c2save" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Cam 2 Settings Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/fontawesome.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/functions.js"></script>
</body>
</html>