<!DOCTYPE html>
<!---->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/js/fontawesome/all.min.css" type="text/css"/>
    <link rel="stylesheet" href="/js/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap4-toggle.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="/css/codemirror.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/codemirror.js"></script>
    <!--<script src="/js/fontawesome.js"></script>-->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/rtsp.js"></script>
    <script>
        window.mobileCheck = function () {
            let check = false;
            (function (a) {
                if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true;
            })(navigator.userAgent || navigator.vendor || window.opera);
            return check;
        };

        function handleError(source) {
            //source.src = "/img/img404.png";
            //console.log($(this).prop('id'));
            $(source).attr('src', 'img/img404.png')
                .toggleClass('disabled', true);
        }
    </script>
    <title>ImagePoint SmartPoE | TBI</title>
</head>

<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="navbar-nav">
        <a href="http://tn.gov/tbi.html" target="_blank"><img class="nav-item" src="./img/logo-full.png"/></a>
    </div>
    <div class="container d-flex ml-auto justify-content-center">
        <a class="navbar-brand lead mb-0" href="#">
            <i class="fal fa-circle"></i>
            <b> ImagePoint</b><sup><i class="far fa-xs fa-registered"></i></sup> <b>- Smart PoE</b>
        </a>
    </div>
    <li class="nav-item dropdown list-unstyled">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Options
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="menu" aria-labelledby="navbarDropdown">
            <a href="#" id="setpassword" class="dropdown-item">Change Password</a>
            <a href="#" id="tools" class="dropdown-item" data-toggle="modal" data-target="#toolModal">Tools</a>
        </div>
    </li>
</nav>
<div class="py-3 text-center">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-white bg-info mb-3" id="sysinfo">
                    <div class="card-header">Cellular Sentry Status
                        <a data-toggle="collapse" href="#collapse" data-target="#collapse"><i
                                    class="fa fa-chevron-down pull-right text-light"></i></a></div>
                    <div id="collapse" class="card-body collapse show" aria-labelledby="heading-example">
                        <h5 class="card-title">PoE Info</h5>
                        <dl class="row card-text">
                            <dt class="col-sm-3">Hostname</dt>
                            <dd class="col-sm-9 text-light" id="hostname"><!----></dd>
                            <dt class="col-sm-3">Location</dt>
                            <dd class="col-sm-9 text-light"><span id="location"><!----></span>&nbsp;&nbsp;&nbsp;<i
                                        class="fas fa-pencil edit"></i></dd>
                            <dt class="col-sm-3">GPS</dt>
                            <dd class="col-sm-9"><span id="gpslink"><!----></span></dd>
                            <dt class="col-sm-3">System Temp</dt>
                            <dd class="col-sm-9 text-light" id="temp">&deg;F</dd>
                            <dt class="col-sm-3 text-truncate">Total Watts:</dt>
                            <dd class="col-sm-9 text-light" id="totWatts">W</dd>
                            <dt class="col-sm-3">Time</dt>
                            <dd class="col-sm-9 text-light" id="systime"><!--Time Script--></dd>
                            <dt class="col-sm-3">Version</dt>
                            <dd class="col-sm-9 text-light" id="version">0.0.0-ND</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-6 p-4">
                <a href="#" id="p1alt">
                 <span class="fa-layers fa-fw mb-2" id="p1icon">
                <i id="p1" class="fas fa-ethernet fa-3x text-muted mx-n2" data-toggle="tooltip" data-placement="bottom"
                   title="Click to REBOOT"></i>
                     <span class="fa-layers-text text-dark" data-fa-transform="shrink-5 up-2 right-2" style="font-weight: 400;">Reboot</span>

                 </span></a>
                <br/>
                <strong>Lan 2</strong>
                <div class="col-md-12" style="">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="p1on" class="btn btn-primary active"> <input type="radio" name="options"
                                                                                autocomplete="off" checked=""/> PoE On&nbsp;
                        </label>
                        <label id="p1off" class="btn btn-primary"> <input type="radio" name="options"
                                                                          autocomplete="off"/> PoE Off&nbsp; </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li><span id="p1ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c1edit"><i
                                            class="fas fa-pencil"></i></a></li>
                            <li><span id="p1v">Voltage:&nbsp;V</span>&nbsp;|&nbsp;<span id="p1w">&nbsp;W</span></li>
                            <li id="p1c">Current:&nbsp;mA</li>
                        </ul>
                    </div>
                </div>

                <img id="cam1" class="btn btn-outline-secondary" onerror="handleError(this);" src="" height="115"
                     width="150">
            </div>
            <div class="col-lg-3 col-6 p-4"><a href="#" id="p2alt">
                <span class="fa-layers fa-fw mb-2" id="p2icon">
                <i id="p2" class="fas fa-ethernet fa-3x text-muted mx-n2" data-toggle="tooltip" data-placement="bottom"
                   title="Click to REBOOT"></i>
                     <span class="fa-layers-text text-dark" data-fa-transform="shrink-5 up-2 right-2" style="font-weight: 400;">Reboot</span>
                </span></a><br/>
                <strong>Lan 3</strong>
                <div class="col-md-12" style="">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="p2on" class="btn btn-primary active"> <input type="radio" name="options"
                                                                                autocomplete="off" checked=""/> PoE On&nbsp;
                        </label>
                        <label id="p2off" class="btn btn-primary"> <input type="radio" name="options"
                                                                          autocomplete="off"/> PoE Off&nbsp; </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li><span id="p2ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c2edit"><i
                                            class="fas fa-pencil"></i></a></li>
                            <li><span id="p2v">Voltage:&nbsp;V</span>&nbsp;|&nbsp;<span id="p2w">&nbsp;W</span></li>
                            <li id="p2c">Current:&nbsp;mA</li>
                        </ul>
                    </div>
                </div>

                <img id="cam2" class="btn btn-outline-secondary" onerror="handleError(this);" src="" height="115"
                     width="150">
            </div>
            <div class="col-lg-3 col-6 p-4"><a href="#" id="p3alt">
                <span class="fa-layers fa-fw mb-2" id="p3icon">
                <i id="p3" class="fas fa-ethernet fa-3x text-muted mx-n2"></i>
                     <span class="fa-layers-text text-dark" data-fa-transform="shrink-5 up-2 right-2" style="font-weight: 400;">Reboot</span>
                </span></a><br/>
                <strong>Lan 4</strong>
                <div class="col-md-12" style="">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="p3on" class="btn btn-primary active"> <input type="radio" name="options"
                                                                                autocomplete="off" checked=""/> PoE On&nbsp;
                        </label>
                        <label id="p3off" class="btn btn-primary"> <input type="radio" name="options"
                                                                          autocomplete="off"/> PoE Off&nbsp; </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li><span id="p3ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c3edit"><i
                                            class="fas fa-pencil"></i></a></li>
                            <li><span id="p3v">Voltage:&nbsp;V</span>&nbsp;|&nbsp;<span id="p3w">&nbsp;W</span></li>
                            <li id="p3c">Current:&nbsp;mA</li>
                        </ul>
                    </div>
                </div>
                <img id="cam3" class="btn btn-outline-secondary" onerror="handleError(this);" src="" height="115"
                     width="150">
            </div>
            <div class="col-lg-3 col-6 p-4"><a href="#" id="p4alt">
               <span class="fa-layers fa-fw mb-2" id="p4icon">
                <i id="p4" class="fas fa-ethernet fa-3x text-muted mx-n2" data-toggle="tooltip" data-placement="bottom"
                   title="Click to REBOOT"></i>
                     <span class="fa-layers-text text-dark" data-fa-transform="shrink-5 up-2 right-2" style="font-weight: 400;">Reboot</span>
               </span></a><br/>
                <strong>Lan 5</strong>
                <div class="col-md-12" style="">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="p4on" class="btn btn-primary active"> <input type="radio" name="options"
                                                                                autocomplete="off" checked=""/> PoE On&nbsp;
                        </label>
                        <label id="p4off" class="btn btn-primary"> <input type="radio" name="options"
                                                                          autocomplete="off"/> PoE Off&nbsp; </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li><span id="p4ip" nowrap>0.0.0.0</span>&nbsp;&nbsp;<a href="#" id="c4edit"><i
                                            class="fas fa-pencil"></i></a></li>
                            <li><span id="p4v">Voltage:&nbsp;V</span>&nbsp;|&nbsp;<span id="p4w">&nbsp;W</span></li>
                            <li id="p4c">Current:&nbsp;mA</li>
                        </ul>
                    </div>
                </div>
                <img id="cam4" class="btn btn-outline-secondary" onerror="handleError(this);" src="" height="115"
                     width="150">
            </div>
        </div>
    </div>
</div>
<!-- Begin Refresh Modal -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div class="loader-txt" style="font-size: 11.5px !important;color: #000 !important;">
                    <p><small>Refreshing...</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Refresh Moal -->

<!-- Begin Cam 1 Settings Modal -->
<div class="modal fade" id="cam1settings" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #1 Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="checkbox" class="cstate text-secondary" id="c1state" data-style="android"
                       data-toggle="toggle" data-size="sm" data-on="Enabled" data-off="Disabled">
                <br>
                <div class="form-group">
                    <label for="c1ip" class="text-primary">Camera IP:</label>
                    <input type="text" class="form-control" placeholder="Enter IP" id="c1ip">
                </div>
                <div class="form-group">
                    <label for="c1u" class="text-primary">Username:</label>
                    <input type="text" class="form-control" placeholder="admin" id="c1u">
                </div>
                <div class="form-group">
                    <label for="c1p" class="text-primary">Password:</label>
                    <input type="password" class="form-control" id="c1p">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="c1save" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 1 Settings Modal -->

<!-- Begin Cam 2 Settings Modal -->
<div class="modal fade" id="cam2settings" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #2 Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="checkbox" class="cstate" data-style="android" id="c2state" data-toggle="toggle"
                       data-size="sm" data-on="Enabled" data-off="Disabled">
                <br>
                <div class="form-group">
                    <label for="c2ip" class="text-primary">Camera IP:</label>
                    <input type="text" class="form-control" placeholder="Enter IP" id="c2ip">
                </div>
                <div class="form-group">
                    <label for="c2u" class="text-primary">Username:</label>
                    <input type="text" class="form-control" placeholder="admin" id="c2u">
                </div>
                <div class="form-group">
                    <label for="c2p" class="text-primary">Password:</label>
                    <input type="password" class="form-control" id="c2p">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="c2save" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 2 Settings Modal -->

<!-- Begin Cam 3 Settings Modal -->
<div class="modal fade" id="cam3settings" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #3 Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="checkbox" class="cstate" id="c3state" data-style="android" data-toggle="toggle"
                       data-size="sm" data-on="Enabled" data-off="Disabled">
                <br>
                <div class="form-group">
                    <label for="c3ip" class="text-primary">Camera IP:</label>
                    <input type="text" class="form-control" placeholder="Enter IP" id="c3ip">
                </div>
                <div class="form-group">
                    <label for="c3u" class="text-primary">Username:</label>
                    <input type="text" class="form-control" placeholder="admin" id="c3u">
                </div>
                <div class="form-group">
                    <label for="c3p" class="text-primary">Password:</label>
                    <input type="password" class="form-control" id="c3p">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="c3save" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 3 Settings Modal -->

<!-- Begin Cam 4 Settings Modal -->
<div class="modal fade" id="cam4settings" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #4 Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="checkbox" class="cstate" id="c4state" data-toggle="toggle" data-style="android"
                       data-size="sm" data-on="Enabled" data-off="Disabled">
                <br>
                <div class="form-group">
                    <label for="c4ip" class="text-primary">Camera IP:</label>
                    <input type="text" class="form-control" placeholder="Enter IP" id="c4ip">
                </div>
                <div class="form-group">
                    <label for="c4u" class="text-primary">Username:</label>
                    <input type="text" class="form-control" placeholder="admin" id="c4u">
                </div>
                <div class="form-group">
                    <label for="c4p" class="text-primary">Password:</label>
                    <input type="password" class="form-control" id="c4p">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="c4save" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 4 Settings Modal -->

<!-- Begin Cam 1 Live View Modal -->
<div class="modal" id="cam1live" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #1 Live</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="cam1canvas" class="col-lg"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 1 Live View Modal -->

<!-- Begin Cam 2 Live View Modal -->
<div class="modal" id="cam2live" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #2 Live</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="cam2canvas" class="col-lg"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 2 Live View Modal -->


<!-- Begin Cam 3 Live View Modal -->
<div class="modal" id="cam3live" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #3 Live</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="cam3canvas" class="col-lg"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 3 Live View Modal -->


<!-- Begin Cam 4 Live View Modal -->
<div class="modal" id="cam4live" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Camera #4 Live</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="cam4canvas" class="col-lg"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- End Cam 4 Live View Modal -->

<!-- Begin Login Modal -->
<div class="modal" id="loginmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Smart PoE Login</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="login" class="text-primary">Password:</label>
                    <input type="password" class="form-control" id="login">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="newpass" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </div>
</div>
<!-- End Login Modal -->

<!-- Begin Tools Modal -->
<div class="modal" id="toolModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Tools</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div role="tab-panel">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#pingTab" aria-controls="pingTab" class="nav-link active" role="tab" data-toggle="tab">Ping</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#tool2Tab" aria-controls="tool2Tab" class="nav-link" role="tab" data-toggle="tab">Tool #2</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="pingTab">
                            <div class="form-group row">
                                <label for="pingAdd" class="text-primary">IP/Hostname:&nbsp;</label>
                                <input class="form-control form-control-sm" type="text" id="pingAdd">
                            </div>
                            <div class="form-group row">
                                <textarea class="form-control" id="pingout" rows="10" readonly></textarea>
                            </div>
                            <div class="modal-footer bg-label py-2">
                                <button type="button" id="pingSubmit" class="btn btn-primary">Execute</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tool2Tab">
                            <div class="form-group row">

                            </div>
                            <div class="modal-footer bg-label py-2">
                                <button type="button" class="btn btn-primary" onClick="">Update</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Tools Modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/bootstrap4-toggle.min.js"></script>
<script src="/js/jquery.md5.js"></script>
<script src="https://kit.fontawesome.com/cbc5e06f06.js" crossorigin="anonymous"></script>
<script src="/js/functions.js"></script>
</body>
</html>